# Node.js
node_modules/

# Compiled TypeScript
dist/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
pids
logs
results

# dotenv environment variables file
.env

# TypeScript cache
*.tsbuildinfo

# VS Code configuration files
.vscode/

# npm
*.pid
*.seed
*.log
*.cfg
*.lock
*.sqlite
*.jpg
*.jpeg
*.gif
*.png
*.swp
*.woff
*.woff2
